
thead {
  background-color: #52b1ff;
  color: rgb(255, 255, 255);
}

tbody {
  background-color: #ffffff;
  color: black;
}

table {
  border-collapse: collapse;
  border: 1px solid rgb(0, 0, 0);
  font-family: sans-serif;
  font-size: 2rem;
  letter-spacing: 1px;
  margin-top: 10px;
}

caption {
  font-size: 40px;
  caption-side: top;
  padding: 10px;
  color: rgb(255, 255, 255);
}

th,
td {
  border: 1px solid rgb(0, 0, 0);
  padding: 12px;
  text-align: center;
}
p {
  color:red;
}





